# Test Framework
pytest
pytest-html
pytest-xdist
pytest-rerunfailures

# Browser Automation
selenium
seleniumbase
webdriver-manager
playwright
pytest-playwright
selene

# Parsing and Data Processing
requests
beautifulsoup4
lxml
pandas
openpyxl
PyYAML

# Utilities
python-dotenv
loguru
